.bckgrnd{
    height: 600px;
    background-color: #0C0032;
}
.paragraph {
    padding: 20px 100px 0px 100px;
}

.About{
    padding: 20px 100px 0px 100px;

}

.Image{
    height: 200px;
    padding: 20px 100px 0px 100px;

}